#container{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    border: 1px solid red;
    height: 100vh;
    gap: 15px;
    background: linear-gradient(to top, rgb(162, 162, 255), rgb(234, 234, 255));
}
#content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    padding-top: 20px;

    height: 300px;
    width: 300px;

    border: 1px solid red;
}
img{
    height: 90%;
}
p{
    font-weight: 300;
    font-size: 30px;
    color: white;
}