#container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}
body{
    background-color: #11232E;
}
p{
    font-weight: 300;
    font-size: 30px;
    color: white;
}