#container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 1px solid red;
    height: 100vh;
    gap: 15px;
    background: linear-gradient(to top, red, blue);
}
#content{
    display: flex;
    justify-content: center;
    flex-direction:column ;
    padding-top: 20px;

    height: 300px;
    width: 300px;
    background-color: gray;
}
img{
    height: 100%;
}
/* body{
    background-color: #11232E;
} */
p{
    font-weight: 300;
    font-size: 30px;
    color: white;
}